/**
 * Dragdealer JS v0.9.5
 * http://code.ovidiu.ch/dragdealer-js
 *
 * Copyright (c) 2010, Ovidiu Chereches
 * MIT License
 * http://legal.ovidiu.ch/licenses/MIT
 */

.dragdealer {
	position: relative;
	height: 22px;
	background-image:url('images/background.png');
	background-size:20px 22px;
	color:white;
	border:0px solid;
	border-color:#ccc;

	

}
.dragdealer .handle {
	position: absolute;
	cursor: pointer;
}
.dragdealer .red-bar {
	width: 15px;
	height: 22px;
	color: black;
	line-height: 22px;
	text-align: center;
	background-image:url('images/slider.png');
	background-size:15px 22px;



}
.dragdealer .disabled {
	background: #898989;
}
